<h1 class="details_h1"><%= @tip.title %></h1>

<% if @tags %>
<div class="tag_block">
  <h4 class="details_h1">Tags</h4>
  <ul class="tag_list">
    <% @tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>

  </ul>
</div>
<% end %>
<%= raw @content_html %>


<a href="/tips/<%= @tip.id %>/edit"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Edit</button></a>

<a href="/tips/<%= @tip.id %>/delete"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete</button></a>

<a href="/tips"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">All tips</button></a>


<%= form_tag '/comments', method: 'post' do %>
<input type="hidden" name="tip_id" value="<%= @tip.id %>">
  <label for="">Comment</label>
  <textarea name="content" id="" cols="30" rows="8"></textarea>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Post comment</button>
<% end %>


<% @comments.each do |comment| %>
<p><%= comment.content %></p>
<% end %>
