
<h1 class="details_h1"><%= @tip.title %></h1>

<% if @tags %>
<div class="tag_block">
  <h4 class="details_h1">Tags</h4>
  <ul class="tag_list">
    <% @tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>

  </ul>
</div>
<% end %>


<%= raw @content_html %>


<a href="/tips/<%= @tip.id %>/edit"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Edit</button></a>

<a href="/tips/<%= @tip.id %>/delete"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete</button></a>




<%= form_tag '/comments', method: 'post' do %>
  <input type="hidden" name="tip_id" value="<%= @tip.id %>">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <textarea class="mdl-textfield__input" name="content" id="" cols="30" rows="8"></textarea>
    <label class="mdl-textfield__label" for="">Comment</label>
  </div>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Post comment</button>
<% end %>


<% @comments.each do |comment| %>
<p><%= comment.content %></p>
<% end %>

